Python/Jupyter/jp_virtual
Python/Jupyter/.ipynb_checkpoints
Python/Django/django_env
Playwright/vm_practices
Playwright/*/__pycache__
Playwright/*/*.png
Playwright/*/*/*.png
Playwright/*/.*
Playwright/*/*/*/*.webm
Playwright/*/*/*.webm
Playwright/Exercises/videos/*